.categoryContainer{
display: flex;
align-items: center;
justify-content: space-around;
background-color: #ff9d29;
color: #ffffe5;
height: 80px;
margin: 10px;
font-size: large;
font-weight: bold;
border-radius: 10px;
}

.mobileForm{
  display: none;
 
}
 
  @media (max-width: 992px){
    .categoryContainer{
       display: none;
    }
    .mobileForm{
      border-radius: 10px;
      width: 80%;
      padding: 10px;
      margin:10px auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #ff9d29;
    }
  }
  
  @media (max-width: 768px){
    .mobileForm{
        width: 90%;
    }
  }
  @media (max-width: 576px){
    .mobileForm{
        width: 100%;
    }
  } 